<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kontaktliste"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-permission 
    	android:name="com.example.kontaktliste.permission"/>
	<uses-permission 
	    android:name="android.permission.WRITE_EXTERNAL_STORAGE">
	</uses-permission>
	<permission
	    android:name="com.example.kontaktliste.permission"/>

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        android:name=".AppObject">
        <activity
            android:name=".Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddContact"
            android:label="@string/app_name">
      	</activity>
      	<activity
            android:name=".ListContacts"
            android:label="@string/app_name">
      	</activity>
      	<activity
      	    android:name=".ContactDetails"
      	    android:label="@string/app_name">
      	</activity>
      	<activity
      	    android:name=".DatePicker"
      	    android:label="@string/app_name">
      	</activity>
      		<provider
				android:name="com.example.kontaktliste.DBAdapter"
				android:authorities="com.example.kontaktliste"
				android:enabled="true"
				android:exported="true"	
				android:readPermission=
				"com.example.kontaktliste.permission"	
				android:writePermission=
				"com.example.kontaktliste.permission">
			</provider>
    </application>
</manifest>

